<% include ./meta.ejs %>
<meta name="keywords" content="" />
<meta name="description" content="" />
<title>
  <%=title%>
</title>
</head>

<body class="fix-sidebar">
  <% include ./modules/reload.ejs %>
  <div id="wrapper">
    <% include ./modules/header.ejs %>
    <% include ./modules/slide.ejs %>
  </div>
</body>

</html>
<% include ./modules/footer.ejs %>