<% include ../../meta.ejs %>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>
        <%=title%>
    </title>
    </head>

    <body>
        <!-- Preloader -->
        <div class="preloader">
            <div class="cssload-speeding-wheel"></div>
        </div>
        <section id="wrapper" class="login-register">
            <div class="login-box">
                <div class="white-box">
                    <!-- <button onclick="logout()" class="btn btn-info btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light" type="submit">登录1</button> -->
                    <!-- <form class="form-horizontal form-material" id="loginform" action="/pages/system/organization"> -->
                    <div class="form-horizontal form-material" id="loginform">
                        <h2 class="box-title m-b-20 text-center base-color title-login">登录</h2>
                        <form id='login' data-toggle="validator" class="form-horizontal form-bordered">
                            <div class="form-group ">
                                <div class="col-xs-12">
                                    <input id="userName" class="form-control" type="text" placeholder="用户名" data-error="请输入用户名" required>
                                </div>
                                <div class="help-block with-errors col-md-7 din"></div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input id="passWorld" class="form-control" type="password" placeholder="密码" data-error="请输入密码" required>
                                </div>
                                <div class="help-block with-errors col-md-7 din"></div>
                            </div>
                            <div class="form-group ">
                                <div class="col-xs-9">
                                    <input id='code' class="form-control" type="text" placeholder="请输入验证码">
                                </div>
                                <div class="col-xs-2">
                                    <img onclick="getVerify(this)" id='imgVerify' src="" width="80" height="30" alt="验证码" class="pointer" />
                                </div>
                            </div>
                            <div class="form-group text-center m-t-20">
                                <div class="col-xs-12">
                                    <button onclick="login()" type="submit" class="btn btn-info btn-lg btn-block btn-rounded">登录</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </body>

    </html>
    <% include ../../modules/footer.ejs %>
        <script type="text/javascript">
            window.onload = function() {
                $("#imgVerify").attr("src", apiPath + 'validateCode?' + Math.random());
            }
            var MD5pwd = b64_md5("ashr93");
            console.log(MD5pwd);
            login();

            function login() {
                var userName = $('#userName').val();
                var passWorld = b64_md5($('#passWorld').val());
                var code = $('#code').val();
                window.location.href = "/pages/system/myOrganization";
                $.ajax({
                    url: apiPath + 'login',
                    type: 'post',
                    data: {
                        // loginName: userName || 'ashrashr93',
                        // loginPass: passWorld || MD5pwd,
                        // loginCode: code || 'zp5b'
                        loginName: 'ashrashr93',
                        loginPass: MD5pwd,
                        loginCode: 'zp5b'
                    },
                    dataType: 'JSON',
                    success: function(res) {
                        if (res.code == 200) {}
                    }
                });
            }

            function getVerify(el) {
                el.src = apiPath + 'validateCode?' + Math.random();
            }
        </script>