<% include ../../meta.ejs %>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>
        <%=title%>
    </title>
    </head>

    <body class="fix-sidebar">
        <% include ../../modules/reload.ejs %>
            <div id="wrapper">
                <% include ../../modules/header.ejs %>
                    <% include ../../modules/slide.ejs %>
                        <!-- Page Content -->
                        <div id="page-wrapper">
                            <div class="container-fluid">
                                <div class="row bg-title">
                                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                        <h4 class="page-title"><a href="/pages/system/organization">精英堂</a> > 南京直营店</h4>
                                    </div>
                                    <!-- /.col-lg-12 -->
                                </div>
                                <!-- /row -->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="white-box">
                                            <table id="demo-foo-addrow2" data-page-size="5" class="table  table-hover toggle-circle">
                                                <thead>
                                                    <tr>
                                                        <th>序号</th>
                                                        <th>组织名称</th>
                                                        <th class="min-width">操作</th>
                                                    </tr>
                                                </thead>
                                                <div class="form-inline padding-bottom-15">
                                                    <div class="row">
                                                        <div class="col-sm-6 m-b-10">
                                                            <div class="form-group">
                                                                <div class="form-group">
                                                                    <input id="demo-input-search22" type="text" placeholder="Search" class="form-control" autocomplete="off">
                                                                </div>
                                                                <button class="btn btn-info btn-rounded model_img img-responsive" data-toggle="modal" data-target="#addUser"><i class="icon-user-follow add-icon"></i>添加成员</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <tbody id='list_table'>
                                                    <!-- <%for(var i=1;i<6;i++) {%>
                                                        <tr>
                                                            <th class='clickAuto'>张浩
                                                                <%=i%>
                                                                    <%if(i==1){%>
                                                                        <button class="btn btn-xs btn-info btn-outline btn-rounded m-l-5">管理员</button>
                                                                        <%}%>
                                                            </th>
                                                            <td>18768774878</td>
                                                            <td>
                                                                <button data-toggle="modal" data-target="#editUser" class="btn btn-sm btn-icon btn-pure btn-outline ">
                                                            <i class="fa fa-pencil-square-o edit-icon"></i> </button>
                                                                <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip">
                                                           <i class="ti-trash delete-icon"></i>
                                                        </button>
                                                            </td>
                                                        </tr>
                                                        <%}%> -->
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="5">
                                                            <div class="text-right">
                                                                <ul class="pagination">
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->
                                <!-- .row （添加成员弹窗）-->
                                <div class="row">
                                    <div class="col-md-4">
                                        <!-- sample modal content -->
                                        <div id="addUser" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color:#333">×</button>
                                                        <div class="modal-title">华北办 > 添加成员</div>
                                                    </div>
                                                    <div class="modal-body modalScroll">
                                                        <form class="form-horizontal">
                                                            <div class="form-group">
                                                                <label for="inputUser" class="col-sm-2 control-label">用户名</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text" class="form-control" id="inputUser" placeholder="请输入用户名">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="inputUserTel" class="col-sm-2 control-label">角色</label>
                                                                <div class="col-sm-9">
                                                                    <select class="selectpicker" data-style="form-control">
                                            <option>角色</option>
                                           
                                        </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="pwd" class="col-sm-2 control-label">密码</label>
                                                                <div class="col-sm-9">
                                                                    <input type="passworld" class="form-control" id="pwd" placeholder="请输入密码">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="rePwd" class="col-sm-2 control-label">确认密码</label>
                                                                <div class="col-sm-9">
                                                                    <input type="passworld" class="form-control" id="rePwd" placeholder="请输入密码">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="inputName" class="col-sm-2 control-label">姓名</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text" class="form-control" id="inputName" placeholder="请输入成员姓名">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="inputTel" class="col-sm-2 control-label">手机号</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text" class="form-control" id="inputTel" placeholder="请输入成员手机号">
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer text-center">
                                                        <button type="button" class="btn btn-info waves-effect" onclick="addUser()">确定</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->
                                <!-- .row （编辑成员弹窗）-->
                                <div class="row">
                                    <div class="col-md-4">
                                        <!-- sample modal content -->
                                        <div id="editUser" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color:#333">×</button>
                                                        <div class="modal-title">华北办 > 编辑成员</div>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form class="form-horizontal">
                                                            <div class="form-group">
                                                                <label for="e_inputUserName" class="col-sm-2 control-label">姓名</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text" class="form-control" id="e_inputUserName" value="张浩1" placeholder="请输入成员姓名">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="e_inputUserTel" class="col-sm-2 control-label">手机号</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text" class="form-control" id="e_inputUserTel" value="18768774878" placeholder="请输入成员手机号">
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer text-center">
                                                        <button type="button" class="btn btn-info waves-effect" onclick="editUser()">确定</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->
                            </div>
                            <footer class="footer text-center"> Copyright ©2019 .精英堂. All Rights Reserved </footer>
                        </div>
                        <!-- /#page-wrapper -->
            </div>
    </body>

    </html>
    <% include ../../modules/footer.ejs %>
        <script type="text/x-jsrender" id="J_tpl_list">
            {{for}}
            <tr class="footable-even" style="display: table-row;">
                <th class="clickAuto">{{:#getIndex()+1}}</th>
                <td>{{:organizationName}}</td>
                <td>
                    <button data-toggle="modal" data-target="#editUser" class="btn btn-sm btn-icon btn-pure btn-outline ">
                         <i class="fa fa-pencil-square-o edit-icon"></i> </button>
                    <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="" title="">
                        <i class="ti-trash delete-icon"></i>
                     </button>
                </td>
            </tr>
            {{/for}}
        </script>
        <script>
            function addUser() {
                var userName = $("#inputUserName").val();
                var userTel = $("#inputUserTel").val();
                var reg_tel = /^1[34578]\d{9}$/;
                if (!userName.trim()) {
                    swal({
                        title: "",
                        text: "成员姓名不能为空！",
                        timer: 2000,
                        showConfirmButton: false
                    });
                    return
                } else if (!userTel.trim()) {
                    swal({
                        title: "",
                        text: "成员手机号不能为空！",
                        timer: 2000,
                        showConfirmButton: false
                    });
                    return
                } else if (!reg_tel.test(userTel)) {
                    swal({
                        title: "",
                        text: "请输入正确的手机号",
                        timer: 2000,
                        showConfirmButton: false
                    });
                    return
                }
                $('#addUser').modal('hide');
            }

            function editUser() {
                $('#editUser').modal('hide');
            }
        </script>
        <script>
            window.onload = function() {
                selectTeamList();
            }

            // 回显值
            var ori_e_id;

            function editTeam(el) {
                ori_e_id = $(el).attr('organizationid');
                var ori_name = $(el).attr('organizationname');
                $("#e_name").val(ori_name);
            }

            //我的组织列表
            function selectTeamList() {
                var tmpl = $.templates("#J_tpl_list");
                $.ajax({
                    url: apiPath + 'api/organization/list',
                    type: 'post',
                    data: {},
                    dataType: 'JSON',
                    success: function(res) {
                        if (res.code == 200) {
                            var data = res.result;
                            var html = tmpl.render(data);
                            $("#list_table").html(html);
                            $('.clickAuto').trigger("click");
                        }
                    }
                });
            }


            //修改组织 
            function editTeamSave() {
                var ori_e_name = $("#e_name").val();
                $.ajax({
                    url: apiPath + 'api/organization/update',
                    type: 'post',
                    data: {
                        organizationId: ori_e_id,
                        organizationName: ori_e_name
                    },
                    dataType: 'JSON',
                    success: function(res) {
                        if (res.code == 200) {
                            $('#editTeam').modal('hide');
                            // 查询组织列表
                            selectTeamList();
                        }
                    }
                });
            }

            //删除组织
            function deleteTeam(el) {
                var ori_id = $(el).attr('organizationid');
                swal({
                    title: "你确定删除吗?",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    cancelButtonText: "取消",
                    confirmButtonText: "确定"
                }, function(isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: apiPath + 'api/organization/delete',
                            type: 'post',
                            data: {
                                organizationId: ori_id
                            },
                            dataType: 'JSON',
                            success: function(res) {
                                if (res.code == 200) {
                                    // 查询组织列表 
                                    selectTeamList();
                                }
                            }
                        });
                    }
                });
            }
        </script>